.hotel-item-card .react-multiple-carousel__arrow {
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    margin: 0 10px;
}
.hotel-item-card .react-multiple-carousel__arrow:before {
    font-size: 14px;
}
.hotel-item-card .tns-item {
    overflow: hidden;
}
.hotel-item-card .react-multi-carousel-item {
    padding: 0 3px;
}