.hotel-item-card .react-multiple-carousel__arrow {
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    margin: 0 10px;
}
.hotel-item-card .react-multiple-carousel__arrow:before {
    font-size: 14px;
}
.hotel-item-card .tns-item {
    overflow: hidden;
    height: 100%;
}
.hotel-item-card .react-multi-carousel-item {
    padding: 0 3px;
}
.hotel-card-image {
    max-width: 230px !important;
}
@media (max-width: 767px) {
    .hotel-card-image {
        max-width: 100% !important;
        max-height: 200px !important;
    }   
    .hotel-card-image .tiny-slider {
        max-height: 200px !important;
    }
    .hotel-card-image .tiny-slider img {
        max-height: 200px;
        object-fit: cover !important;
        width: 100%;
    }
}
.other-price {
    background-color: rgba(var(--bs-gray-100), 0.2) !important;
    border-color:  rgba(var(--bs-gray-100), 0.2) !important;
}
.other-price-div {
    max-width: 250px !important;
}
.recmd-price-section {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #5143d920;
}
.hotel-card-img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}