@use "/src/styles/_custom_variables.scss" as *;
.home-view {
    // background-color: $background-color;
    width: 100%;
    height: 100%;
}

.back-top:before {
    content: "\f176";
    font-family: "fontawesome" !important;
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.back-top.back-top-show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}

.back-top {
    cursor: pointer;
    position: fixed !important;
    bottom: 40px;
    right: 40px;
    display: block;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: var(--bs-primary);
    color: #fff;
    border-radius: 10%;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
}
@media screen and (max-width: 576px) {
    footer {
        padding-bottom: 4rem !important;
    }
}