.react-multiple-carousel__arrow--right:before {
    font-family: 'bootstrap-icons', sans-serif;
    content: "\f138";
}
.react-multiple-carousel__arrow--left:before {
    font-family: 'bootstrap-icons', sans-serif;
    content: "\f12f";
}
.home-carousel .react-multiple-carousel__arrow--left{
    left: calc(2% + 1px) !important;
    width: 50px;
    height: 50px;
    margin-left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.home-carousel .react-multiple-carousel__arrow--right {
    right: calc(2% + 1px) !important;
    width: 50px;
    height: 50px;
    margin-right: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.home-carousel .react-multi-carousel-list:hover .react-multiple-carousel__arrow--left{
    margin-left: 0 !important;
    opacity: 1 !important;
}
.home-carousel .react-multi-carousel-list:hover .react-multiple-carousel__arrow--right{
    margin-right: 0 !important;
    opacity: 1 !important;
}
.home-carousel .react-multiple-carousel__arrow:hover {
    background: rgba(0, 0, 0, 0.4);
}
.home-carousel .react-multi-carousel-item {
    padding: 0 10px;
}